*{
    padding: 0;
    margin: 0 auto;
}

body{
    width:1920;
    height:100%;
    margin:0 auto;
    background-color: black;
    
}

/* 首页部分 */
.首页{
    width:70%;
    margin: 0 auto;
    overflow: hidden;
    border:20px solid gray;
}

  
.首页 ul li {
    float:left;
    background-color: white;
    width: 20%;
    display:block;
    text-align: center;
    
}


.首页 ul li img {
    width:10%
}

.banner{
    width:100%;
    height:auto;
    text-align: center;
    
}

.热销推荐{
    width:80%;
    height: auto;
    text-align: center;
    margin-top: 100px;
    margin:0 auto;
    overflow: hidden;
    
}
.热销推荐 ul li{
    float:left;
    width:31%;
    height:100%;
    margin-left:1%;
    
    
}



p{
    color:aliceblue;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    font-size:25px;
    text-decoration: none;
    background-color: yellow;
    
}
/* 产品功能 */


h1{
    width:auto;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    font-style: oblique;
    color: aqua;
    margin-bottom: 50px;
    margin-top: 100px;
    
   
  
}

 .产品功能{
     width:80%;
     height:auto;
     
     text-align: center;
     margin-top: 100px;  
     /* float:left; */
     

     
 }
 /* 产品特色 */
 .产品特色{
     width:50%;
     height: auto;
     margin: 0 auto;
     margin-top: 100px;
     text-align: center;
     
 }
 .产品规格{
     width:80%;
     height:auto;
     margin: 0 auto;
     text-align: center;
 }
 